{% extends "tools/base.html" %}
{% block search %}

<p class="display-6 pb-3">Estimate Liqwid Rewards (Mostly Working Lol)</p>

<form class="d-flex" method="POST" action="{% url 'liqwid'%}">
    {% csrf_token %}
    <div class="markets mx-auto">
        <input class="form-control my-2" type="input" name="data" placeholder="Total LQ Staked" aria-label="Search">
        <input class="form-control my-2" type="input" name="data" placeholder="Total Ada Supplied" aria-label="Search">
        <input class="form-control my-2" type="input" name="data" placeholder="Total Ada Borrowed" aria-label="Search">
        <input class="form-control my-2" type="input" name="data" placeholder="Total Djed Supplied" aria-label="Search">
        <input class="form-control my-2" type="input" name="data" placeholder="Total Djed Borrowed" aria-label="Search">
        <input class="form-control my-2" type="input" name="data" placeholder="Total iUSD Supplied" aria-label="Search">
        <input class="form-control my-2" type="input" name="data" placeholder="Total iUSD Borrowed" aria-label="Search">
        <input class="form-control my-2" type="input" name="data" placeholder="Total Shen Supplied" aria-label="Search">
        <input class="form-control my-2" type="input" name="data" placeholder="Total Shen Borrowed" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Calculate</button>
    </div>
</form>

<p class="py-3">(iUSD calcs are still being weird, working on it, so for iUSD LQ rewards you can roughly double them or count them in with Djed).</p>
<p class="py-3">These calcutions attempt to provide a point-in-time estimate of the latest Liqwid Finance (LQ) reward methodology. This site is not officially affiliated with Liqwid Finance in any way. Please reachout if you suspect any errors. </p>

{% endblock search %}