{% extends "tools/base.html" %}
{% block search %}

<p class="display-6 pb-3"> Estimate Optimal Liqwid Rewards</p>

<form class="d-flex" method="POST" action="{% url 'liqwid'%}">
    {% csrf_token %}
    <div class="markets mx-auto">
        <input class="form-control my-2" type="input" name="data" placeholder="Total User Ada" aria-label="Search">
        <input class="form-control my-2" type="input" name="data" placeholder="Total User Djed" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Calculate</button>
    </div>
</form>

{% endblock search %}