{% extends "tools/base.html" %}
{% block search %}

<form class="d-flex" method="POST" action="{% url 'summary'%}">
    {% csrf_token %}
    <input class="form-control me-2" type="search" name="addr" placeholder="Enter Cardano address or Handle." aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>

<div class="container pt-5">
    <p>Details:</p>
    <p>Summary gives an overview of your Cardano wallet's Ada balance, rewards, NFT values, token values, and total.</p>
    <p>Wallet is simple wallet viewer to admire your collections or visualize what's in your Cardano wallet</p>
    <p>Larger wallets or wallets with NFT collections that have a large circulating supply will take longer to load. This is normal and a result of the NFT rarity API being used</p>
    <p>NFT Rarity is determined from CNFTJungle.io and Token prices are determined from Minswap.org</p>
    <p>All data shown is queried live and always up-to-date</p>
    <p>The pages are meant to be bookmarked for easy access, i.e. https://eyeofhorus.io/$falcon or https://eyeofhorus.io/wallet/$falcon</p>
    <p>If any errors or incorrect behavior are encountered, please DM @eyeofhorus_io on Twitter</p>
    <p>In our value calculation for the wallet we exclude any NFTs or tokens with a zero value, which includes NFTs without a known floor price</p> 
</div>

{% endblock search %}