{% extends "tools/base.html" %}
{% block search %}

<form class="d-flex" method="POST" action="{% url 'summary'%}">
    {% csrf_token %}
    <input class="form-control me-2" type="search" name="addr" placeholder="Enter Cardano address or Handle." aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>

--------------------------

If you clicked an email link and showed up here (you know who you are), you're lucky I'm too lazy to do a real PoC. Tsk tsk. Also ignore the rest of this site lol. 

Now read this article, could be cool for TH and to be on the lookout for: https://medium.com/@bobbyrsec/the-dangers-of-googles-zip-tld-5e1e675e59a5

{% endblock search %}